@model EventsEditViewModel
@using EventsSystem_iThome.Enum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Events</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleTimeStart" class="control-label"></label>
                <input asp-for="SaleTimeStart" class="form-control" />
                <span asp-validation-for="SaleTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleTimeEnd" class="control-label"></label>
                <input asp-for="SaleTimeEnd" class="form-control" />
                <span asp-validation-for="SaleTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressTimeStart" class="control-label"></label>
                <input asp-for="ProgressTimeStart" class="form-control" />
                <span asp-validation-for="ProgressTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressTimeEnd" class="control-label"></label>
                <input asp-for="ProgressTimeEnd" class="form-control" />
                <span asp-validation-for="ProgressTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SimpleIntro" class="control-label"></label>
                <input asp-for="SimpleIntro" class="form-control" />
                <span asp-validation-for="SimpleIntro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="EventsCategoryEnum" asp-items="Html.GetEnumSelectList<EventsCategoryEnum>()"></select>
            </div>
            <input type="hidden" asp-for="EventsInfo.EventsInfoOfEventsId" />
            <input type="hidden" asp-for="EventsInfo.EventsInfoId" />
            <div class="form-group">
                <label asp-for="EventsInfo.ApplicationLimitedQty" class="control-label"></label>
                <input asp-for="EventsInfo.ApplicationLimitedQty" class="form-control" />
                <span asp-validation-for="EventsInfo.ApplicationLimitedQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventsInfo.PersonalSite" class="control-label"></label>
                <input asp-for="EventsInfo.PersonalSite" class="form-control" />
                <span asp-validation-for="EventsInfo.PersonalSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventsInfo.Location" class="control-label"></label>
                <input asp-for="EventsInfo.Location" class="form-control" />
                <span asp-validation-for="EventsInfo.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventsInfo.FullIntro" class="control-label"></label>
                <textarea asp-for="EventsInfo.FullIntro" class="form-control"></textarea>
                <span asp-validation-for="EventsInfo.FullIntro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
